{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>loader django refresh heroku</title>
  </head>
  <body>
    <form action="/view/" method="POST">
      {% csrf_token %}
      <div class="row g-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="First name"
            aria-label="First name"
            name="FirstName"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Last name"
            aria-label="Last name"
            name="LastName"
          />
        </div>
      </div>
      <div>
        <input type="submit" value="submit" />
      </div>
    </form>
  </body>
  <link
    rel="stylesheet"
    href="{% static 'djangoherokurefresh/css/index.css' %}"
  />
</html>
